html {
    background-color: rgb(236, 239, 255);
    font-family: 'Nanumsquare';
}

.container {
    width: 500px;
    margin: 0 auto;
}

h1 {
    color: rgb(145, 171, 235);
    font-size: 25px;
    margin: 25px 0;
}

.to_do_list {
    background-color: rgb(205, 219, 255);
    margin: 10px 0;
    padding: 10px 20px;
}

.info_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info_1 a {
    color: rgb(50, 50, 50);
}

h2 {
    font-size: 20px;
    margin: 0;
}

.info_1 p {
    font-size: 12px;
    color: rgb(130, 130, 130);
}

.info_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info_2 h6 {
    font-size: 15px;
    font-weight: 300;
    margin: 5px 15px;
}

.info_2 p {
    color: rgb(100, 123, 255);
    font-size: 12px;
    font-weight: 300;
    margin: 5px 0;
}

.create {
    float: right;
    margin: 20px 0;
}

.create a {
    font-size: 15px;
    font-weight: 700;
    text-decoration: none; 
    color: rgb(50, 50, 50);
    background-color: white;
    padding: 5px 7px;
    margin: 20px 0;
    border: 2px solid rgb(145, 171, 235);
    border-radius: 5px;
}
