html {
    background-color: rgb(236, 239, 255);
    font-family: 'Nanumsquare';
}

.container {
    width: 500px;
    margin: 0 auto;
}

h1 {
    color: rgb(145, 171, 235);
    font-size: 25px;
    margin: 25px 0;
}

.todo_input {
    display: flex;
    flex-direction: column;
}

.todo_input p {
    color: rgb(50, 50, 50);
    background-color: rgb(197, 213, 255);
    margin: 10px 0;
    padding: 10px 70px 10px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

input {
    font-size: 12px;
    width: 300px;
    border: 1px solid rgb(145, 171, 235);
    margin: 10px 0;
    padding: 3px 5px;
}

button {
    width: 100px;
    height: 30px;
    font-family: 'Nanumsquare';
    font-size: 12px;
    font-weight: 700;
    background-color: white;
    border: 2px solid rgb(145, 171, 235);
    border-radius: 5px;
    margin: 20px auto;
    padding: 3px 5px;
    float: right;
}